VITE_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id_here
VITE_API_URL=https://reward.trestle.website
VITE_VAULT_API_URL=https://vault.trestle.website
# Blockscout PRO API key (Optional)
VITE_BLOCKSCOUT_API_KEY=

# Testnet marketplace contracts (Amoy)
VITE_MARKETPLACE_CORE=0x6DdDbF0DD813C5c6EA2b3EC2d479E25132bbE14D
VITE_DIGITAL_GOODS=0xf58fbEC439918Bd9e636AC1363e4FF2C0DD8b648
VITE_FREELANCER_ESCROW=0x1A1956BF7Ac3f759169C1310fdB5E30209238e03
VITE_DIGITAL_RWA=0xB2225f2e9a26688D43bC01A8Cf7aD4B179154c47
VITE_FEE_DISTRIBUTOR=0x4CA2905Bf5421F3A743B4D72647005DF1e4235e8

