# Hardhat
artifacts/
cache/
typechain-types/

# Foundry
out/
forge-cache/

# Environment
.env

# Dependencies
node_modules/

# Logs
*.log

# Coverage
coverage/
coverage.json

# Slither
slither/

# Temp files
*.tmp
*.bak
*.swp
*~

# OS
.DS_Store
